.bg-pink {
    background-color: transparent;
    background-color: #d8670bd9;
    transition: all 1.5s ease;
    color: white;
    font-weight: lighter;
}

.main {
    background-color: #d8670bd9;
    color: #ffffff;
}

.letracolor {
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.letracolor:hover {
    color: white;
    font-weight: lighter;
    font-size: 20px;
}

.fa-bars {
    font-size: 30px;
    color: #ffffff;
}
.colorBoton {
    background-color: #ec7607f6;
    color: aliceblue;
    width: 100%;
    font-size: 18px;
    margin-left: 15%;
    margin-top: 5%;
}

.colorBoton:hover {
    background-color: #2a2a2cf6;
    color: aliceblue;
    width: 100%;
    margin-left: 15%;
    margin-top: 5%;
}

.submenucategoria {
    background-color: transparent;
    border: #d8670bd9;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    width: 35%;
}

.submenucategoria:hover {
    background-color: #d8670bd9;
    border: #d8670bd9;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
.margenSuperioContenido{
    margin-top: 5%;
}
.divEstado{
  
    font-size: 20px;
    font-weight: lighter;
    width: 35%;
}
.groups{
    margin-top: 5%;
}
.fleccontenedor{
    display: flex;

}
.fa-edit{
font-size: 25px;
}
.BotoneContent{
    display: flex;
    margin-bottom: 10%;
    margin-top: 5%;
}